:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-color: #2196f3;
  --background-color: #ffffff;
  --footer-background: #2f303a;
  --team-background: #f5f4fa;
  --hero-background: #2f303a;
  --icon-social-color-main: #afb1b8;
  --btn-hover: #188ce8;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  font-family: inherit;
  background-color: var(--hover-color);
  color: var(--background-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  outline: transparent;
  transition-property: background-color;
}
.btn:hover, .btn:focus {
  background-color: var(--btn-hover);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-color);
}

.social-icons {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-social-color-main);
  background-color: var(--background-color);
  outline: transparent;
  transition-property: background-color, color;
}
.social-icons__link:hover, .social-icons__link:focus {
  color: var(--background-color);
  background-color: var(--hover-color);
}

.social-icons__icon {
  fill: currentColor;
}

.close-btn {
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.close-btn__icon {
  fill: #000000;
  transition-property: fill;
}
.close-btn:hover > .close-btn__icon, .close-btn:focus > .close-btn__icon {
  fill: var(--hover-color);
}

.user-policy {
  display: flex;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .user-policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.user-policy__link {
  text-decoration: none;
  color: var(--hover-color);
  border-bottom: 1px solid;
  transition-property: color;
}
.user-policy__link:hover, .user-policy__link:focus {
  color: var(--btn-hover);
}

.user-policy__custom-icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  transition-property: border-color, background-color, background-size, background-origin;
}
.user-policy__checkbox:checked + .user-policy__custom-icon {
  border-color: transparent;
  background-color: var(--hover-color);
  background-size: contain;
  background-origin: border-box;
}
.user-policy__checkbox:hover + .user-policy__custom-icon, .user-policy__checkbox:focus + .user-policy__custom-icon {
  border-color: var(--hover-color);
}

.user-policy__check {
  fill: var(--background-color);
}

.filters {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
  }
}

@media screen and (max-width: 399px) {
  .filters__list {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .filters__list:nth-child(n+4) {
    margin-bottom: 0;
  }
  .filters__list:nth-child(5) {
    margin-right: 0;
  }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  .filters__list {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .filters__list:nth-child(n+4) {
    margin-bottom: 0;
  }
  .filters__list:nth-child(3) {
    margin-right: 0;
  }
  .filters__list:nth-child(5) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .filters__list {
    margin-bottom: 0;
    justify-content: center;
  }
  .filters__list:not(:last-child) {
    margin-right: 8px;
  }
}

.filters__btn {
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: var(--primary-text-color);
  background: var(--team-background);
  padding: 6px 25px;
  cursor: pointer;
  transition-property: background-color, color, box-shadow, outline;
}
.filters__btn:hover, .filters__btn:focus {
  background: #188ce8;
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: transparent;
}
.filters__btn.active {
  color: var(--background-color);
  background: var(--hover-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header_wrap {
  display: flex;
  margin: 0 auto;
  list-style: none;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header_wrap {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header_wrap {
    justify-content: flex-start;
  }
}

.header__logo {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 24px 0 25px 0;
    margin-right: 92px;
  }
}

.header__studio {
  color: #000000;
}

.header__open-btn {
  min-height: 40px;
  min-width: 40px;
  fill: var(--primary-text-color);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.header__open-btn:hover, .header__open-btn:focus {
  color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .header__open-btn {
    display: none;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
  }
}

.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    margin-right: 315px;
  }
}

.header__item:nth-child(-n+2) {
  margin-right: 50px;
}

.header__link {
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 32px 0;
  display: block;
  transition-property: color;
}
.header__link:hover, .header__link:focus {
  color: var(--hover-color);
}

.current {
  color: var(--hover-color);
  position: relative;
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

.header__contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
  }
}

.header__contact-list {
  color: var(--secondary-text-color);
}
.header__contact-list:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header__contact-list:first-child {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

.header__text {
  transition-property: color;
}
.header__text:hover, .header__text:focus {
  color: var(--hover-color);
}
@media screen and (min-width: 1200px) {
  .header__text {
    padding: 32px 0;
    display: flex;
    align-items: center;
  }
}

.header__contact-icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header__contact-icon {
    margin-right: 10px;
  }
}

.header__email,
.header__tel {
  text-decoration: none;
  color: inherit;
}

.header__menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  padding: 48px 40px;
  background-color: var(--background-color);
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-container:not(.is-open) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  fill: var(--primary-text-color);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.header__close-btn:hover, .header__close-btn:focus {
  color: var(--hover-color);
}
@media (min-width: 767px) {
  .header__close-btn {
    display: none;
  }
}

.header__menu-container.is-open {
  transform: translateX(0);
}

.header__menu-item {
  list-style-type: none;
  margin-bottom: 32px;
}
.header__menu-item:last-child {
  margin-bottom: 0;
}

.header__menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.header__menu-link:hover, .header__menu-link:focus {
  color: var(--hover-color);
}
@media (max-width: 480px) {
  .header__menu-link {
    font-size: 10vw;
  }
}

.header__bottom-item {
  list-style: none;
  margin-bottom: 32px;
}
.header__bottom-item:last-child {
  margin-bottom: 64px;
}

.header__menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--hover-color);
  text-decoration: none;
}
@media (max-width: 480px) {
  .header__menu-tel {
    font-size: 8vw;
  }
}

.header__menu-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
@media (max-width: 480px) {
  .header__menu-email {
    font-size: 6vw;
  }
}

.header__menu-social {
  list-style-type: none;
  display: flex;
}

.header__social-list:nth-child(-n+3) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.header__social-list:nth-child(n+2) {
  padding-left: 10px;
}

.header__social-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}
@media (max-width: 480px) {
  .header__social-link {
    font-size: 3vw;
  }
}

.hero {
  background-color: var(--hero-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero@1x.jpg");
  width: 100%;
  height: 400px;
  background-size: 480px 400px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero@3x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-size: 768px 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero@1x.jpg");
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero@3x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-size: 1600px 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero@1x.jpg");
    background-size: 1600px 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero@2x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero@3x.jpg");
  }
}

.hero__title {
  margin: 0 auto;
  color: var(--background-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.description {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .description {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.description__list {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .description__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .description__list {
    flex-wrap: nowrap;
  }
}

.description__text {
  margin-bottom: 30px;
}
.description__text:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .description__text {
    margin-bottom: 0;
    width: 354px;
  }
}

.description__icon-block {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.description__icon {
  width: 70px;
  height: 70px;
}

.description__desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.description__quote {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.work__img {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
  margin-left: 30px;
}
.work__img:first-child {
  margin-left: 0;
}

.work__description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--team-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team__list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}

.team__description {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__description {
    margin-bottom: 0;
  }
}

.team__description:last-child {
  margin-bottom: 0;
}

.team__img {
  margin: 0 auto;
}

.team__text {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  quotes: none;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__desc {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .clients__desc {
    flex-wrap: nowrap;
  }
}

.clients__list {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__list {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    width: 100%;
  }
}

.clients__link {
  height: 92px;
  color: var(--icon-social-color-main);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  outline: transparent;
  transition-property: color, border;
}
.clients__link:hover, .clients__link:focus {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background: var(--footer-background);
  padding: 60px 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: flex;
    justify-content: space-around;
  }
}

.footer__parts {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__parts {
    padding: 0;
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__studio {
  color: var(--background-color);
}

.footer__address {
  display: block;
  font-style: normal;
}

.footer__list {
  list-style-type: none;
}

.footer__meta {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}
.footer__meta:last-child {
  margin-bottom: 0px;
}

.footer__meta--color {
  color: var(--background-color);
}

.footer__aside {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
}
.footer__aside:hover, .footer__aside:focus {
  color: var(--hover-color);
}

.footer__social {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__social {
    padding: 0;
    margin-right: 93px;
  }
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}

.social-icons__link--color {
  color: var(--background-color);
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1200px) {
  .sing-up-form {
    text-align: start;
  }
}

.sing-up-form > strong {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .sing-up-form__wrap {
    display: flex;
  }
}

.sing-up-form__sing-up {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background);
  padding: 0 0 0 16px;
  margin-bottom: 20px;
  outline: transparent;
  transition-property: border-color;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.sing-up-form__sing-up:hover, .sing-up-form__sing-up:focus {
  border-color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .sing-up-form__sing-up {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sing-up-form__sing-up {
    width: 358px;
    margin: 0;
  }
}

.sing-up-form__sing-up::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sing-up-form__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 200px;
  padding: 10px 28px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .sing-up-form__btn {
    margin: 0 0 0 12px;
  }
}

.sing-up-form__icon {
  fill: var(--background-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: 609px;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .backdrop__modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
  }
}

.backdrop__close-btn {
  position: absolute;
}

.feedback > strong {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.feedback__graphs {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.feedback__graphs > label {
  margin-bottom: 4px;
}

.feedback__inner {
  position: relative;
}

.feedback__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  outline: transparent;
  transition-property: border-color;
}
.feedback__input:hover, .feedback__input:focus {
  border-color: var(--hover-color);
}

.feedback__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition-property: fill;
}
.feedback__input:hover + .feedback__icon, .feedback__input:focus + .feedback__icon {
  fill: var(--hover-color);
}

.feedback__comment {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.feedback__comment > label {
  margin-bottom: 4px;
}
.feedback__comment > textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.feedback__comment > textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback__btn {
  display: block;
  margin: auto;
  padding: 10px 52px;
}

.section {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.portfolio {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .portfolio {
    gap: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    gap: 30px;
    margin-top: 50px;
  }
}

.portfolio__part {
  margin-bottom: 30px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .portfolio__part {
    margin-bottom: 0;
    width: 354px;
  }
}

.portfolio__link {
  text-decoration: none;
  display: block;
  transition-property: box-shadow, outline;
}
@media screen and (min-width: 768px) {
  .portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: transparent;
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(101%);
  transition-property: transform;
  padding: 0 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--background-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translatey(0);
}
@media (max-width: 480px) {
  .portfolio__overlay {
    font-size: 4vw;
  }
}

.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio__desc {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__quote {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */