.header {
  border-bottom: 1px solid #ececec;
}

// НАЧАЛО

.qwerty {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}

.header__logo {
  padding: 16px 0;
}

.header__studio {
  color: #000000;
}

.header__open-btn {
  min-height: 40px;
  min-width: 40px;
  fill: var(--primary-text-color);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
  @media (min-width: 767px) {
    display: none;
  }
}
.header__menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--background-color);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  & > ul {
    text-decoration: none;
    list-style: none;
  }
}

.header__close-btn {
  display: flex;
  justify-content: flex-end;
  min-height: 40px;
  min-width: 40px;
  fill: var(--primary-text-color);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
  @media (min-width: 767px) {
    display: none;
  }
}

.header__menu-container.is-open {
  transform: translateX(0);
}

.header__menu-container 

// .menu .link {
//   padding: 10px;
//   color: inherit;
//   text-decoration: none;
// }

// .menu .link:hover,
// .menu .link:focus {
//   text-decoration: underline;
// }

// .menu-toggle {
// }

// @media (min-width: 768px) {
//   .menu-toggle {
//     display: none;
//   }
// }

// .menu-toggle:hover,
// .menu-toggle:focus {
//   background-color: rgba(0, 0, 0, 0.1);
// }

// .header__menu-container .menu-toggle {
//   position: absolute;
//   top: 16px;
//   right: 16px;
//   color: #fff;
// }

// .mobile-menu {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// .mobile-menu .link {
//   display: block;
//   padding: 10px;
//   color: #fff;
//   text-decoration: none;
// }

// КОНЕЦ

// .header__btn {
//   display: inline-flex;
//   margin: 0;
//   padding: 0;
//   border: 0;
//   background-color: transparent;
// }

// .header__btn .header__close-icon {
//   display: none;
// }

// .header__btn.is-open .header__close-icon {
//   display: block;
// }

// .header__btn.is-open .header__menu-icon {
//   display: none;
// }

.header__list {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  color: var(--primary-text-color);

  transition-property: color;
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.current {
  color: var(--hover-color);
  position: relative;
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

.header__contact {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.header__contact-list {
  color: var(--secondary-text-color);
}

// .header__contact-list + .header__contact-list {
// }

.header__text {
  transition-property: color;
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.header__contact-icon {
  fill: currentColor;
}

.header__email,
.header__tel {
  text-decoration: none;
  color: inherit;
}
