.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - 30px);
  height: 609px;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
}

.backdrop__close-btn {
  position: absolute;
}

.feedback > strong {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.feedback__graphs {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);

  & > label {
    margin-bottom: 4px;
  }
}

.feedback__inner {
  position: relative;
}

.feedback__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;

  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  outline: transparent;
  transition-property: border-color;

  &:hover,
  &:focus {
    border-color: var(--hover-color);
  }
}

.feedback__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition-property: fill;

  .feedback__input:hover + &,
  .feedback__input:focus + & {
    fill: var(--hover-color);
  }
}

.feedback__comment {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 20px;

  & > label {
    margin-bottom: 4px;
  }

  & > textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    height: 120px;
    padding: 12px 16px;

    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  & > textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.feedback__btn {
  display: block;
  margin: auto;
  padding: 10px 52px;
}
