.filters {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
}

.filters__list {
  @media screen and (max-width: 399px) {
    margin-right: 8px;
    margin-bottom: 15px;

    &:nth-child(n + 4) {
      margin-bottom: 0;
    }

    &:nth-child(5) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 400px) and (max-width: 767px) {
    margin-right: 8px;
    margin-bottom: 15px;

    &:nth-child(n + 4) {
      margin-bottom: 0;
    }

    &:nth-child(3) {
      margin-right: 0;
    }

    &:nth-child(5) {
      margin-right: 0;
    }
  }
}

.filters__btn {
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: var(--primary-text-color);
  background: var(--team-background);
  padding: 6px 25px;

  cursor: pointer;

  transition-property: background-color, color, box-shadow, outline;

  &:hover,
  &:focus {
    background: #188ce8;
    color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: transparent;
  }

  &.active {
    color: var(--background-color);
    background: var(--hover-color);
  }
}
