:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-color: #2196f3;
  --background-color: #ffffff;
  --footer-background: #2f303a;
  --team-background: #f5f4fa;
  --hero-background: #2f303a;
  --icon-social-color-main: #afb1b8;
  --btn-hover: #188ce8;
}
